# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
VisualizeAIService/venv/

# =========================
# Environment files
# =========================
.env
VisualizeAIService/.env

# =========================
# Storage (Generated data)
# =========================
storage/
VisualizeAIService/storage/

# =========================
# OS / Editor
# =========================
.vscode/
.DS_Store
sample.json